body {
	background-color: black;
}

.jumbotron {
    background-color: black;
}

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px blue;
}

hr:after { /* Not really supposed to work, but does */
    content: "\00a0"; /* Prevent margin collapse */
}

h2 {
	padding-left: 10px;
	color: white;
    border-left: 6px solid blue;
    margin-bottom: 0;
}

h3 {
	color: white;
}

ul {
	color: white;
}

p {
	color: white;
}

.text {
    color: white;
}

.csize {
    font-size: 30px;
}